.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  background-color: #0693E3;
}

.navbar__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  width: 50%;
}

.navbar__item {
  margin: 0 10px;
}

.navbar__item a {
  text-decoration: none;
  color: white;
  font-size: large;
  font-weight: bold;
}


.main {
  background-image: url("/galaxy.gif");
  background-size: cover;
  height: 100vh;
}

.header{
  line-height: 1.2;
  margin-left:80px;
  margin-top: 200px;
  position: absolute;
  top: 56%;
  transform: translateY(-50%);
  font-size: 60px;
  font-family: Tilt Prism;
  color: #0693E3;
}

